 <div class="wrapper">
    <div>
      
    </div>
  <form class="login">

    <p class="title"><img src="assets/img/cu-logo.png" /><br>Sign in to CU Portal</p>
    <input type="text" placeholder="Username" autofocus/>
    <i class="fa fa-user"></i>
    <input type="password" placeholder="Password" />
    <i class="fa fa-key"></i>
      <div class="checkbox" >
            <label>
                <input type="checkbox" value="" checked>
                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                  Remember Me
            </label>
              <a href="#">Forgot your password?</a>
        </div>
  
    <button>
      <span class="btnlogin">Log in</span>
    </button>
  </form>
  <footer>&copy 2017 CU Portal</footer>
  </p>
</div>